name: test with code coverage
on:
  push:
    branches:
      - main
      - "release/*"
  pull_request:
    branches:
      - main

jobs:
  test-and-upload-code-coverage:
    name: "upload coverage to codecov"
    runs-on: "ubuntu-24.04"
    concurrency:
      group: test-and-upload-code-coverage
      cancel-in-progress: false
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: checkout
        uses: actions/checkout@v5

      - name: setup go
        uses: actions/setup-go@v6
        with:
          check-latest: true
          cache: true
          go-version: "~1.23"

      - name: checking go version
        run: go version

      - name: running tests
        run: make test-all
        env:
          RUDDERSTACK_API_URL: ${{ vars.RUDDERSTACK_API_URL }}
          RUDDERSTACK_ACCESS_TOKEN: ${{ secrets.RUDDERSTACK_ACCESS_TOKEN }}
          RUDDERSTACK_CLI_DEBUG: ${{ vars.RUDDERSTACK_CLI_DEBUG }}

      - name: upload cli logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cli.log
          path: ~/.rudder/cli.log

      - name: upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: rudderlabs/rudder-iac
          files: |
            coverage-unit.out
            coverage-e2e.out
