name: test with code coverage
on:
  push:
    branches:
      - main
      - "release/*"
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-and-upload-code-coverage:
    name: "upload coverage to codecov"
    runs-on: "ubuntu-24.04"
    concurrency:
      group: test-and-upload-code-coverage
      cancel-in-progress: false
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: setup go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          check-latest: true
          cache: true
          go-version: "~1.24"

      - name: checking go version
        run: go version

      - name: running tests
        run: make test-all
        env:
          RUDDERSTACK_API_URL: ${{ vars.RUDDERSTACK_API_URL }}
          RUDDERSTACK_ACCESS_TOKEN: ${{ secrets.RUDDERSTACK_ACCESS_TOKEN }}
          RUDDERSTACK_CLI_DEBUG: ${{ vars.RUDDERSTACK_CLI_DEBUG }}

      - name: upload cli logs
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          name: cli.log
          path: ~/.rudder/cli.log

      - name: upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: rudderlabs/rudder-iac
          files: |
            coverage-unit.out
            coverage-e2e.out
