name: test with code coverage
on:
  push:
    branches:
      - main
      - "release/*"
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-and-upload-code-coverage:
    name: "upload coverage to codecov"
    runs-on: "ubuntu-24.04"
    concurrency:
      group: test-and-upload-code-coverage
      cancel-in-progress: false
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: setup go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          check-latest: true
          cache: true
          go-version: "~1.24"

      - name: checking go version
        run: go version

      - name: running tests
        run: make test-all
        env:
          RUDDERSTACK_API_URL: ${{ vars.RUDDERSTACK_API_URL }}
          RUDDERSTACK_ACCESS_TOKEN: ${{ secrets.RUDDERSTACK_ACCESS_TOKEN }}
          RUDDERSTACK_CLI_DEBUG: ${{ vars.RUDDERSTACK_CLI_DEBUG }}
          RUDDERSTACK_CLI_TELEMETRY_DISABLED: ${{ vars.RUDDERSTACK_CLI_TELEMETRY_DISABLED }}
          RUDDERSTACK_CLI_EXPERIMENTAL: ${{ vars.RUDDERSTACK_CLI_EXPERIMENTAL }}
          RUDDERSTACK_X_CONCURRENT_SYNCS: ${{ vars.RUDDERSTACK_X_CONCURRENT_SYNCS }}
          RUDDERSTACK_X_TRANSFORMATIONS: ${{ vars.RUDDERSTACK_X_TRANSFORMATIONS }}

      - name: upload cli logs
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: cli.log
          path: ~/.rudder/cli.log

      - name: upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: rudderlabs/rudder-iac
          files: |
            coverage-unit.out
            coverage-e2e.out
