name: test with code coverage
on:
  push:
    branches:
      - main
      - "release/*"
  pull_request:
    branches:
      - main

jobs:
  test-and-upload-code-coverage:
    name: "upload coverage to codecov"
    runs-on: "ubuntu-24.04"
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup go
        uses: actions/setup-go@v3
        with:
          check-latest: true
          cache: true
          go-version: "~1.22"

      - name: checking go version
        run: go version

      - name: running tests
        run: make test

      - name: upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: rudderlabs/rudder-iac